@media(max-width:768px){
    .header section{
        background-color: $color-principal;
    }
    .productoss img{
        width: 160px;
        height: 160px;
        }
        main article div h4{
            font-size: 12px;
            margin-left: 10px;
        } 
        header section div{
            background-color: $color-principal;
        }
        .container-mejorar p{
            font-size: 25px;
            margin-top: 40px;
        }
        .navbar-abajo-productos{
            position: absolute;
            bottom: 0%;
        }
        .container-mejorar h2{
            margin-top: 100px;
        }
        .mercaderia{
            width: 100%;
        }
    .container-text{
        font-size: 15px;
    }
    .mercaderia2 img{
    
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 40px;
    }
    .img5{
        grid-area: img5;
    }
    .img6{
        grid-area: img6;
    }
    .img7{
        grid-area: img7;
    }
    .img8{
        grid-area: img8;
    }
    .img9{
        grid-area: img9;
    }
    .img10{
        grid-area: img10;
    }
    .text-product{
        margin-top: 10px;
    }
}