@media (max-width:425px){
    .navbar2 img{
        width: 10%;
        height: auto;
    }
    .navbar2 input{
        width: 140px;
    }
    .publi{
        font-size: 10px;
    }
    .productoss img{
        width: 140px;
        height: 140px;
    }
    .container-publi{
        font-size: 10px;
    }
    .container-mejorar h2{
        margin-top: 70px;
        font-size: 15px;
    }
    .container-mejorar p{
        font-size: 20px;
        margin-top: 90px;
    }
    .container-publi-footer{
        font-size: 10px;
        margin-top: 10px;
    }
    .container-publi-footer-productos{
        font-size: 10px;
    }
    .mercaderia2{
        margin-top: 60px;
    }
    .mercaderia2 h3{
        font-size: 12px;
    }
    .mercaderia2 h4{
        font-size: 12px;
    }
    .mercaderia2 img{
        width: 70%;
        
    }
    .navbar-abajo{
        position: absolute;
        bottom: 0;
    }
    .texto-nosotros{
        font-size: 20px;
    }
    .container-text{
        font-size: 12px;
        margin-top: 15px;
    }
    .mercaderia img{
        object-fit: cover ;
        width: 70%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }
}