@media (max-width:375px){
    .productoss img{
        width: 120px;
        height: 120px;
    }
    .container-mejorar p{
        font-size: 15px;
    }
    .container-mejorar h2{
        font-size: 20px;
        margin-left: 0;
    }
    .container-publi{
        font-size: 10px;
        display: flex;
        justify-content: space-between;
    }
    .mercaderia2 img{
        width: 80%;
    }
    .texto-nosotros{
        font-size: 18px;
    }
}