@media (max-width:425px){
    .navbar2 img{
        width: 10%;
        height: auto;
    }
    .navbar2 input{
        width: 140px;
    }
    .publi{
        font-size: 10px;
    }
    .productoss img{
        width: 140px;
        height: 140px;
    }
    .container-publi{
        font-size: 10px;
    }
    .container-mejorar h2{
        margin-top: 50px;
    }
    .container-mejorar p{
        font-size: 20px;
        margin-top: 40px;
    }
    .container-publi-footer{
        font-size: 10px;
    }
    .container-publi-footer-productos{
        font-size: 10px;
    }
    .mercaderia2{
        margin-top: 60px;
    }
    .mercaderia2 h3{
        font-size: 12px;
    }
    .mercaderia2 h4{
        font-size: 12px;
    }
    .mercaderia2 img{
        width: 70%;
        
    }
    .navbar-abajo{
        position: absolute;
        bottom: 0;
    }
    .texto-nosotros{
        font-size: 20px;
    }
}