.container-contenedores input{
    background-color: #454545;
    color: #454545;
    border: 10px solid  #454545;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.container-cuenta input{
    background-color: #454545;
    color: #454545;
    border: 10px solid  #454545;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}